<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header intro-header-custom">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>Oops!</h1>
                    <hr class="small">
                    <span class="subheading">Page Not Found</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
  <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <p>Want to try the <a href="/">home page</a>?
      </div>
  </div>
</div>
